@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --main-pink: rgb(227, 66, 112);
  --main-grey: rgb(143, 143, 143);
  --dropdown-grey: rgb(97, 97, 97);
  --background: rgb(249, 249, 249);
}

.news-container {
  font-family: 'Montserrat';
  max-width: 30rem;
  background-color: var(--background);
  padding: 1rem 2rem;
}

.flex-container {
  display: flex;
  gap: 1.2rem;
}

.news-title {
  color: var(--main-pink);
  font-size: 1.3rem;
}

.news-title:after {
  content: '';
  display: block;
  height: 0.2rem;
  width: 96%;
  margin: 0.1rem auto;
  background: var(--main-pink);
}

.news-dropdown {
  color: var(--dropdown-grey);
  border: 2px solid var(--dropdown-grey);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  height: auto;
  padding: 0.3rem 1.6rem 0.3rem 0.65rem;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.dropdown-wrapper {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
}

.dropdown-select-arrow-div {
  position: relative;
}
.dropdown-select-arrow-div::after {
  content: '▼';
  color: var(--dropdown-grey);
  font-size: 0.8rem;
  pointer-events: none;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 1;
}

.news-button {
  color: var(--main-pink);
  border: 2px solid var(--main-pink);
  padding: 0.45rem 0.55rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.article-container {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.article {
  border-bottom: 1.75px dashed var(--main-grey);
  margin-bottom: 0.75rem;
}

.article > a {
  color: inherit;
  text-decoration: inherit;
}

.article-title {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

.article-source {
  color: white;
  padding: 0.075rem 0.6rem 0.15rem;
  border-radius: 5rem;
  background-color: var(--main-grey);
}

.article-date,
.article-source {
  font-size: 0.85rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}
